:root {
  --ifm-color-primary: #1a6db5;
  --ifm-color-primary-dark: #1761a2;
  --ifm-color-primary-darker: #165c99;
  --ifm-color-primary-darkest: #124c7e;
  --ifm-color-primary-light: #1d79c8;
  --ifm-color-primary-lighter: #1e7ed1;
  --ifm-color-primary-lightest: #2a8ee6;
}
